# large datasets
data/sentimental_extraction_kaggle.csv
data/sentimental_extraction_kaggle.json

# Python cache files
**/__pycache__/
*.py[cod]
*.env
**/flask_session/
**iam/postgres_data
**/minio/data/
**/postgres_data/
**/superset_data/
**.DS_Store
**/flask_session/